.button-container {
  display: flex;
  justify-content: space-between;
  height: 10dvh;
}

button {
  width: 15%;
  font-size: large;
}

.top-wrapper {
  display: flex;
  flex-direction: column-reverse;
  height: 90dvh;
}

.volume-wrapper {
  margin: 0 auto;
  text-align: center;
  margin-top: 2em;
}

#volume {
  width: 70dvw;
  display: block;
}

